<!DOCTYPE html>

<html>

<head>
    <title>Video - Authentication Error</title>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
<div class="ui container">
    <div class="ui negative message">
        <div class="header">Authentication Error</div>
        <p>Internal server error has occurred. Please try after some time</p>
    </div>
</div>

<script src="/static/js/semantic.min.js"></script>
</body>

</html>